body {
  margin: 0;
  background-color: darkcyan;
  font-family: 'Courier New', Courier, monospace;
}

.topnav {
  overflow: hidden;
  background-color: #3866b9;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0px 0px 20px 10px rgb(108, 123, 196);
  position: relative;
  animation-name: topnavAnim;
  animation-duration: 2.5s;
}  

.topnav #constant {
  position: relative;
  animation-name: topnavAnim;
  animation-duration: 2.5s;
  float: left;
  color: #3930b1;
  text-align: center;
  padding: 2vh 2vw;
  text-decoration: wavy;
  font-size: 20px;
}

.topnav a {
  float: left;
  color: #3930b1;
  border-radius:30px 30px 30px 30px;
  text-align: center;
  padding: 2vh 2vw;
  text-decoration: wavy;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #247185;
  border-radius: 30px 30px 30px 30px
}

.topnav a.active {
  position: relative;
  animation-name: topnavAnim;
  animation-delay: 1s;
  animation-duration: 2s;
  background-color: #9fa4e2;
  color: #3930b1;
  border-radius: 30px 30px 30px 30px;

}

.topnav a.title {
  background-color: #9fa4e2;
  color: #3930b1;
}

.text {
  padding-top: 10px;
  padding-left: 16px;
  position: relative;
  animation-name: slide_from_right;
  animation-duration: 2s;
}

.text #part{
  padding-top: 10px;
  padding-left: 16px;
  animation-delay: 0.5s;
}

@keyframes topnav-hover {
  0%  {opacity: 0; bottom: 20vh;}
  100% {opacity: 1; bottom: 0;}
}

@keyframes topnavAnim {
  0% {opacity: 0; bottom: 20vh;}
  100% {opacity: 1; bottom: 0vh;}
}

@keyframes slide_from_right {
  0% {opacity: 0; right:300vh}
  50% {opacity: 0; right: 100vh;}
  100% {opacity: 1; right: 0vh}
}

.audiodiv {
  padding-left: 16px;
  padding-top: 10px;
  position: relative;
  animation-name: slide_from_right;
  animation-duration: 3s;
} 